.default{
    width: 100%;
    height: 100%;
    padding: 0;

}

.home{
    padding:0em;
    width: 100%;
}
/* MAIN **************************************************************/
.main{
    background: url(./img/background.png ) no-repeat center bottom;
    opacity: 0.70;
    width: 100%;
    background-color: white;
    height: 55em;
    justify-content: center;
    text-align: center;
}

.main-name{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 450%;
    color: #000000;
    padding-top: 1.25em;

}

.main-description{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 150%;
    color: #000000;
}

.main-description-sub{
    font-family: Tahoma;
    font-size: 120%;
    color: #000000;
}

/* ABOUT ME**************************************************************/

.about-me{
    background-color:  #f54f4f;
    width: auto;
    padding: 5% 5% 5% 5%;
    text-align: center;
}

.about-me-description{
    font-family: Tahoma;
    font-size: 120%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}
.fa-grid{
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 0% 5% 0% 5%;
}
.fa-icon{
    color: white;
}

.skill-grid{
    background-color: white;
    padding: 5% 5% 5% 5%;
    border-radius: 2em;
}

.skills-description{
    font-family: Tahoma;
    font-size: 100%;
    color: #3b3b3b;
}

.skills-title{
    font-family: Tahoma;
    font-size: 120%;
    font-weight: bold;
    color: #3b3b3b;
}

.header-title{
    font-family: Tahoma;
    font-size: 120%;
    font-weight: bold;
    margin-top: 2em;
    color:   #f54f4f
}

.header-description{
    font-family: Tahoma;
    font-size: 1em;
    color: #3b3b3b;
    line-height: 150%;

}

/* Contact Me **************************************************************/
.contact-me{
    width: 100%;
    text-align: center;
    height: 20em;
    margin-top: 1em;
    margin-bottom: 5em;

}
.contact-header{
    color:  #f54f4f;
    font-size: 1.1em;
}
.find-me{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto ;
    height: auto;
    padding: 1em 1em 1em 1em;

}
.button-icon{
    border-color: #f54f4f;
}

.fa-icon-button{
   color: #f54f4f;
}

.resume-img{
    padding: 2em 2em 2em 2em;
    height: 100%;
    width: 100%;
}
